@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Overlap avatar */
.list-avatar:not(:first-child) {
  margin-left: -8px;
}

progress[value] {
  --color: #FABB18;
  /* the progress color */
  --background: #DFDFDF;
  /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 4px;
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

details>summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}

/* Range slider */
.percent-range-track-1 {
  background-color: #FFFFFF;
  height: 4px;
}

.percent-range-track-0 {
  background-color: #2FD1C5;
  height: 4px;
}

.tooltip .tooltiptext {
  background-color: #2FD1C5;
  color: white;
  text-align: center;
  border-radius: 16px;
  padding: 4px 12px;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: -20px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2FD1C5 transparent transparent transparent;
}